.projectPageContainer {
    display: flex;
    .projectContainer {
        width: 70%;
        border: 2px solid yellow;
        height: calc(100vh - 100px);
    }
    .pageNavContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
        border: 2px solid green;
        height: calc(100vh - 100px);
    }
    .pageNavContainer h2 {
        margin-bottom: 30px;
    }
}