.container {
    border: 2px solid red;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;

    .logoContainer {
        width: 50%;
        border: 2px solid blue;
        display: flex;
        align-items: center;
    }

    .logoImg {
        width: 20%;
    }

    .iconContainer {
        border: 2px solid green;
        width: 50%;
        border: 2px solid white;
        display: flex;
        flex-direction: row;
    }
}