@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.aboutMe-Container {
    height: calc(100vh - 190px);
    display: flex;
    flex-direction: row;
    padding:  15px;
    @include pageTransition(1s);

    h1 {
        margin-bottom: 1rem;
    }
    
    .bioContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 1.5rem;
        height: calc(100vh - 235px);
        overflow: auto;
    }

    .bioContainer p {
        color: white;
        line-height: 1.5;
        font-size: 1.6rem;
    }
    
    .skills-Container {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .skillsImg {
        width: 15%;
        margin: 15px;
    }

    .img-Conatainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

// Tablet:
@media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
    .aboutMe-Container {
        .bioContainer p {
            font-size: 1.2rem;
        }
    }
}

// Mobile: 
@media only screen and (min-width: $mobileMin) and (max-width: $mobileMax) {
    .aboutMe-Container {
        flex-direction: column;
        height: calc(100vh - 250px);
        margin-top: 4.5rem;
        .bioContainer {
            margin-top: 1.5rem;
        }
        .bioContainer p { 
            font-size: 1rem;
        }
        .skills-Container {
            margin-top: .5rem;
        }
    }
}