@import "../../styles/mixins.scss";

.aboutMe-Container {
    height: calc(100vh - 190px);
    display: flex;
    flex-direction: column;
    padding:  15px;
    transition: 1s;
    overflow: hidden;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
         }
    }

    h1 {
        margin-bottom: 1rem;
    }
    
    .bioContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 10px;
        padding: 1rem;
    }

    .bioContainer p {
        color: white;
        font-size: 1.4rem;
        line-height: 1.5;
    }
}