@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.projectCardContainer {
    background-color: $light-shade;
    width: 60%;
    margin: auto;
    border-radius: 20px;
    .projectCardImgContainer {
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    .projectImg {
        border-radius: 20px;
        width: 60%;
    }
    .projectCardDescContainer p {
        color: black;
        font-size: 18px;
    }
    .projectBtnContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80px;
    }
    .projectBtnContainer button {
        all: unset; 
        margin-bottom: 2rem;
        height: 1.5rem;
        color: black;
        font-size: 1.2rem;
        border: 2px solid black;
        padding: 10px;
        margin-top: 25px;
        @include animationInit();
    }
    .projectBtnContainer button:hover {
       @include animationHover();
    }
}


// Tablet:
@media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
    
}

// Mobile: 
@media only screen and (min-width: $mobileMin) and (max-width: $mobileMax) {
    .projectCardContainer {
        width: 90%;
        .projectCardDescContainer {
            overflow: auto;
            height: 200px;
            padding: 20px;
        }
    }
}