@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.projectCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $light-shade;
    width: 60%;
    height: 80%;
    margin: auto;
    padding: 1rem 0rem 1rem 0rem;
    border-radius: 20px;
    
    
    .projectImg {
        display: flex;
        margin: 0 auto;
        width: 90%;
        height: 350px;
        border-radius: 20px;
        -webkit-box-shadow: -2px 20px 88px -42px rgba(0,0,0,0.56);
        -moz-box-shadow: -2px 20px 88px -42px rgba(0,0,0,0.56);
        box-shadow: -2px 20px 88px -42px rgba(0,0,0,0.56);
        border: 2px solid red;
    }
    .projectCardDescContainer {
        padding: 10px;
        border: 5px solid green;
        overflow: auto;
    }
    .projectCardDescContainer p {
        font-size: 1.4rem;
    }
    .projectBtnContainer {
        display: flex;
        justify-content: space-around;
    }
    .projectBtnContainer button {
        margin-top: 1rem;
        all: unset;
        padding: 1rem 1rem;
        width: 100px;
        text-align: center;
        font-size: medium;
        border: 2px solid black;
    }
    .githubBtn {
        transition: all 0.1s ease-in-out;
    }
    .githubBtn:hover {
        transition-timing-function: ease-in;
        transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
        transform: translateY(-3px);
        cursor: pointer;
    }
    .liveAppBtn {
        transition: all 0.1s ease-in-out;
    }
    .liveAppBtn:hover {
        transition-timing-function: ease-in;
        transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
        transform: translateY(-3px);
        cursor: pointer;
    }
}
.projectCardContainer p {
    color: black;
    text-align: left;
    padding: 0rem 3rem;
    font-size: 1rem;
}

// Tablet:
@media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
    .projectCardContainer {
        width: 80%;
        .projectBtnContainer button {
            width: 70px;
        }
    }
}

// Mobile: 
@media only screen and (min-width: $mobileMin) and (max-width: $mobileMax) {
    .projectCardContainer {
        width: 80%;
        margin-top: 20px;
        height: 100%;
        .projectImg {
            height: fit-content;
        }
        .projectBtnContainer {
            border: 5px solid red;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .projectBtnContainer button {
            width: 70px;
            height: 16px;
            margin-top: 10px;
        }
    }
    .projectCardContainer p {
        padding: 0rem 1rem;
        font-size: 1.2rem;
    }
}