.app_container {
    border: 5px solid blue;
    height: calc(100vh);    
    width: 80%;
    margin: 0 auto;
}
.border-gradient {
    position: absolute;
    border: 10px solid black;
    width: 30%;
    height: 50vh;
}