@import "./styles/variables.scss";

.app_container {
    height: calc(100vh - 40px);    
    width: 80%;
    margin: 0 auto;
    padding: 25px 0px 0px 0px;
}

.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    width: 20%;
    position: absolute;
    height: 30%;
    margin-left: 7%;
    margin-top: 1%;
    z-index: -1000;
  }
  .border-gradientTwo {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    width: 20%;
    position: absolute;
    height: 30%;
    margin-left: 7%;
    margin-top: 1%;
    bottom: 3%;
    right: 7%;
    z-index: -1000;
  }
  .border-gradient-green-top {
    border-image-source: linear-gradient(to left, $dark-shade, $light-shade);
  }
  .border-gradient-green-bottom {
    border-image-source: linear-gradient(to bottom, $dark-shade, $light-shade);
  }
  .only-top {
    border-right: 0;
    border-bottom: 0;
  }
  .only-bottom {
    border-left: 0;
    border-top: 0;
  }