.navBarIconContainer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .iconItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}