@import "../../styles//mixins.scss";

.workHistoryPageContainer {
    display: flex;
    @include pageTransition(1s);
    padding: 20px;
    
    .workHistoryContainer {
        padding: 10px;
        width: 70%;
        height: calc(100vh - 190px);
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .logoContainer {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    .lambda {
        width: 50%;
    }
    .upsie {
        width: 20%;
    }
    .workHistoryContainer h1 {
        margin-bottom: 15px;
    }
    .workHistoryContainer h2 {
        margin-bottom: 10px;
    }

    .bulletContainer {
        padding: 20px;
        margin-top: 20px;
    }
    .bulletPoint {
        margin-top: 10px;
        font-size: 1.4rem;
        text-align: left;
    }
        
    .pageNav-container {
        width: 30%;
    }

    .pageNavContainer {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .pageNavContainer h2 {
        margin-bottom: 15px;
        text-align: center;
    }
}

// Tablet:
@media only screen and (min-width: $tabletMin) and (max-width: $tabletMax) {
   
}

// Mobile: 
@media only screen and (min-width: $mobileMin) and (max-width: $mobileMax) {
    .workHistoryPageContainer {
        flex-direction: column-reverse;
        padding: 0px;
        height: 1000px;
        margin-top: 40%;
        border: 2px solid green;
        .workHistoryContainer {
            margin: auto;
            padding: 0px;
            width: 90%;
            height: 500px;
            border: 2px solid yellow;
            justify-content: flex-start;
        }
        .bulletPoint {
            font-size: 16px;
        }
        .pageNavContainer {
            border: 2px solid red;
            margin-bottom: 10px;
        }
    }
}