@import "../../styles//mixins.scss";

.workHistoryPageContainer {
    display: flex;
    @include pageTransition(1s);

    
    .workHistoryContainer {
        width: 70%;
        height: calc(100vh - 190px);
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .logoContainer {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    .lambda {
        width: 50%;
    }
    .upsie {
        width: 20%;
    }
    .workHistoryContainer h1 {
        margin-bottom: 15px;
    }
    .workHistoryContainer h2 {
        margin-bottom: 10px;
    }

    .bulletContainer {
        padding: 20px;
        margin-top: 20px;
    }
    .bulletPoint {
        margin-top: 10px;
        font-size: 1.4rem;
        text-align: left;
    }
        
    .pageNav-container {
        width: 30%;
    }

    .pageNavContainer {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .pageNavContainer h2 {
        margin-bottom: 15px;
    }
}