@import '../styles/variables.scss';

@mixin text-gradient() {
    background: -webkit-linear-gradient($dark-shade, $light-shade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

@mixin border-gradient($border-width) {
    border-width: $border-width;
    border-style: solid;
    border-image: linear-gradient(to right, $dark-shade, $light-shade) 1;
}

@mixin left-gradient($border-width) {
    border-left: $border-width solid;
    border-image: linear-gradient(to bottom, $dark-shade, $light-shade) 1;
}

@mixin dropShadow($color) {
    -webkit-box-shadow: 5px 7px 15px -8px $color; 
    box-shadow: 5px 7px 15px -8px $color;
}