$light-shade: #F0F0EA;
$light-accent: #887F6C;
$main-brand-color: #87837A;
$dark-accent: #7D7C7B;
$dark-shade: #222223;
$success: #5ea25d;
$warning: #db9225;
$danger: #FF5733;

// Media Queries:
$mobileMin: 0px;
$mobileMax: 699px;
$tabletMin: 700px;
$tabletMax: 1099px;
